.auth-container {
    max-width: 500px;
    width: 100%;
    height: fit-content;
    padding: 20px 10px;
}

.auth {

    &__subtitle {
        color: $--color-text-muted-3;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.4rem;
        text-align: center;
    }

    &__title {
        text-align: center;
        font-weight: bold;
        font-size: 2.2rem;
    }

    &__steps {
        margin-top: 20px;
    }

    &__input-group {
        margin-bottom: 30px;
    }

    &__button {
        width: 100%;
        text-transform: uppercase;
    }

    &__options {
        margin-top: 20px;
    }

    &__hint {
        color: $--color-text-muted-3;
        margin-bottom: 5px;
        font-size: 1.4rem;

        &:last-of-type {
            margin-bottom: 0px;
        }

        a {
            color: $--color-text;
            text-decoration: none;
        }
    }

    &__success {
        color: $--color-success;
        margin-bottom: 40px;
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: $--breakpoint-mobile) {
    .auth-container {
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        border-radius: none;
    }
}