:root {
    /* Colors */

    --color-dark-blue: #1569b1;

    --color-blue: #307dfb;

    --color-gray: #92929e;

    --color-green: #32a05a;

    --color-orange: #e46f4a;

    --color-header: #1d1d1d;

    /* Constants */

    --height-header: 60px;
    --width-sidebar: 250px;
    --width-sidebar-collapsed: 64px;

    /* Z-indexes */

    --z-index-header: 2000;
    --z-index-loader: 1000;

    /* Breakpoints */

    --breakpoint-mobile: 576px;
    --breakpoint-small-devices: 768px;
    --breakpoint-medium-devices: 992px;
    --breakpoint-large-devices: 1200px;


    /* Colors New */

    --color-text: #ffffff;
    --color-text-muted-1: rgba(255, 255, 255, 0.87);
    --color-text-muted-2: rgba(255, 255, 255, 0.6);
    --color-text-muted-3: rgba(255, 255, 255, 0.38);

    --color-primary: #BB86FC; // Pozmieniać
    --color-primary-variant: #3700B3; // Pozmieniać
    --color-secondary: #03DAC6; // Pozmieniać

    --color-overlay: #202020;
    --color-background: #02010cf2;
    --color-success: #4CAF50;
    --color-error: #CF6679;

    --color-on-primary: #000000;
    --color-on-background: #ffffff;
}
