@import '@/assets/styles/base.scss';

:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

html,
body {
    color: $--color-text;
    background: $--color-background;
    min-height: 100vh;
    font-family: 'Lato', Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
}

#app {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (max-width: $--breakpoint-small-devices) {
    .disable-scroll {
        overflow: hidden;
    }
}

/* Layout styling */
.el-main {
    transition: margin 0.25s ease-in-out;
}

.el-container-outer {
    min-height: 100%;
}

.el-container-inner {
    background-color: $--color-background;
    margin-top: $--height-header;

    @media (min-width: calc($--breakpoint-small-devices + 1px)) {
        .el-aside ~ .el-main {
            margin-left: $--width-sidebar;
        }

        .el-aside.nav--collapse ~ .el-main {
            margin-left: $--width-sidebar-collapsed;
        }
    }
}

/* Utility classes for hiding elements */

@media (max-width: calc($--breakpoint-small-devices - 1px)) {
    .el-hidden-xs-and-down {
        display: none !important;
    }
}

@media (max-width: calc($--breakpoint-medium-devices - 1px)) {
    .el-hidden-sm-and-down {
        display: none !important;
    }
}

@media (max-width: calc($--breakpoint-large-devices - 1px)) {
    .el-hidden-md-and-down {
        display: none !important;
    }
}

/* Custom styling */

/* DatePicker RWD support for mobile devices */
@media screen and (max-width: $--breakpoint-mobile) {
    .el-picker__popper {
        width: 90%;

        .el-date-range-picker, .el-date-range-picker.has-sidebar {
            width: 100%;
            overflow: scroll;
            height: 50vh;
        }

        .el-picker-panel__sidebar {
			display: none;
		}

        .el-date-range-picker .el-picker-panel__body {
            min-width: unset;
        }

        .el-picker-panel__sidebar + .el-picker-panel__body {
            margin-left: 0px;
        }

        .el-picker-panel__content {
            width: 100%;
        }

        .el-picker-panel__content.is-left {
            border-right: unset;
        }
    }
}

/* Notification RWD support for mobile devices & fix displaying */
.el-notification {
    max-width: 90%;

    /* Fix group width */
    .el-notification__group {
        width: 100%;
    }

    /* Fix alignment for content */
    .el-notification__content {
        text-align: left;
    }

    /* Fix position of closeButton due to position relative on *, *::after, *::before */
    .el-notification__closeBtn {
        top: 0px;
        right: -10px;
    }
}

/* MessageBox RWD support for mobile devices */
.el-message-box {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

/* Dialog RWD support for mobile devices & Correct styles */
div.el-dialog {
    border: 1px solid $--color-text-muted-3;
    border-radius: 10px;

    @media screen and (max-width: $--breakpoint-medium-devices) {
        width: 60%;
    }

    @media screen and (max-width: $--breakpoint-small-devices) {
        width: 80%;
    }

    @media screen and (max-width: $--breakpoint-mobile) {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        margin: 0px;
        border-radius: 0px;
        border: none;

        .el-dialog__footer {
            margin-top: auto;
        }
    }

    .el-dialog__header {
        margin-right: 0px;
        text-align: center;
    }

    .el-dialog__header > .el-dialog__title {
        font-weight: bold;
    }

    .el-dialog__footer {
        /* Fix issue with position of loader resulting in breaking layout */
        // .el-icon.is-loading {
        //     display: initial;
        // }
    }
}

/* Message RWD support for mobile devices */
@media screen and (max-width: $--breakpoint-small-devices) {
    .el-message {
        width: 100%;
    }
}

/* Fix margin and padding of alerts used in forms as hints */
.el-alert {
    div.el-alert__content {
        padding: 0px 16px;
    }
    p.el-alert__description {
        margin: 0px;
    }
}

/* Fix button text overlapping */
.el-button {
    white-space: normal;
}

/* Fix popover text display */
.el-popper.el-popover {
    text-align: left !important;
    word-break: break-word !important;
}

/* Fix width of select dropdown in weird way but it works somehow */
.el-select-dropdown {
    max-width: 1px;
}

/* Fix word break in table rows */
.el-table div.cell {
    word-break: break-word;
}