@import '@/assets/styles/base.scss';

:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    // position: relative;
    font-weight: normal;
}


html, body {
    color: var(--color-text);
    background: var(--color-background);
    min-height: 100vh;
    font-family: 'Lato', Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
}

#app {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (max-width: var(--breakpoint-small-devices)) {
    .disable-scroll {
        overflow: hidden;
    }
}

/* Layout styling */
.el-main {
    transition: margin 0.25s ease-in-out;
}

.el-container-outer {
    min-height: 100%;
}

.el-container-inner {
    background-color: #f5f5f5;
    margin-top: var(--height-header);

    @media (min-width: calc(var(--breakpoint-small-devices) + 1px)) {
        .el-aside ~ .el-main {
            margin-left: var(--width-sidebar);
        }

        .el-aside.nav--collapse ~ .el-main {
            margin-left: var(--width-sidebar-collapsed);
        }
    }
}

/* Utility classes for hiding elements */

@media (max-width: var(--breakpoint-small-devices)) {
    .el-hidden-xs-and-down {
        display: none !important;
    }
}

@media (max-width: var(--breakpoint-medium-devices)) {
    .el-hidden-sm-and-down {
        display: none !important;
    }
}

@media (max-width: calc(var(--breakpoint-large-devices) - 1px)) {
    .el-hidden-md-and-down {
        display: none !important;
    }
}

/* Custom styling */

.el-empty {
    padding: 0;

    &__description {
        margin-top: 10px;
    }
}

.el-select-dropdown__item {
    height: 42px;
    line-height: 42px;
}

.el-select-dropdown {
    max-width: 2px;
    text-align: left;
}

/* // DatePicker RWD support for mobile devices */

.el-picker-panel__shortcut {
    position: relative;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 15px;

    &:first-child {
        padding-top: 5px;
    }
}

.el-picker-panel__shortcut:after {
    content: '';
    position: absolute;
    width: 90%;
    height: 2px;
    background: #f5f8fa;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: var(--breakpoint-small-devices)) {
    .el-date-range-picker.has-sidebar {
        width: 100% !important;

        .el-picker-panel__sidebar {
            display: none;
        }

        .el-picker-panel__body-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .el-picker-panel__body {
            width: 90%;
            min-width: unset;
            margin: 0;
        }
    }
}

@media screen and (max-width: var(--breakpoint-mobile)) {
    .el-picker-panel__body {
        display: flex;
        flex-direction: column;
    }

    .el-date-range-picker__content {
        width: 100% !important;
    }

    .el-date-range-picker__content.is-left {
        border-right: unset;
    }
}

/* Add space between inputs [default=18px v1.3.0-beta.5] */
.el-form-item--default {
    margin-bottom: 20px;
}

/* Imitate position absolute for form errors, but without overlapping form items */
.el-form-item__error {
    position: initial;
    margin-bottom: -16px;
    text-align: left;
}

/* Fix button text display for small devices */
.el-button {
    white-space: normal;
}
/* Fix popover text display */
.el-popover.el-popper {
    text-align: left !important;
    word-break: break-word !important;
}

/* Fix element-plus@1.2.0-beta.4 issue with input prefixes positioning */
.el-input__prefix-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fix text align in notifications */
.el-notification__content {
    text-align: left !important;
}

/* Notification RWD support for mobile devices */
.el-notification {
    max-width: 90%;
}
/* MessageBox RWD support for mobile devices */
.el-message-box {
    width: 500px;
    border-radius: 10px;
    max-width: 90%;
}

/* Descriptions Two Column layout RWD support for long text */
.el-descriptions-two-column > tr > td:first-child {
    margin-right: 10px;
}

/* Dialog Modal RWD support for mobile devices & Correct styles */
.el-dialog {
    border-radius: 10px;

    @media screen and (max-width: var(--breakpoint-small-devices)) {
        width: 400px !important;
    }

    @media screen and (max-width: var(--breakpoint-mobile)) {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        min-height: 100%;
        margin: 0px !important;
        border-radius: 0px;

        &__footer {
            margin-top: auto;
        }
    }

    &__header > &__title {
        font-weight: bold;
    }

    &__body {
        padding: calc(var(--el-dialog-padding-primary) + 10px)
            calc(var(--el-dialog-padding-primary) + 10px);
    }

    &__footer {
        /* Fix issue with position of loader resulting in breaking layout */
        .el-icon.is-loading {
            display: initial;
        }
    }
}

/*  Disable border for specific el-card header */

.auth-container .el-card__header {
    border: none;
}